.cabecalho {
    background-color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 5px var(--shadow);
}


.imagem-cabecalho {
    width: 5%;
    border-radius: 100%;
}

.cabecalho-titulo {
    font-size: 2em;
}

.destaque-titulo {
    color: var(--red);
}

.navbar-lista {
    display: flex;
    gap: 30px;
}

.lista-item a {
    font-weight: 700;
    color: var(--red);
    text-decoration: none;
}

.lista-item a:hover {
    color: var(--black);
    text-decoration: underline;
}

.lista-item a:hover {
    color: var(--black);
    text-decoration: underline;
}

@media (max-width: 800px) {
    .cabecalho {
        flex-direction: column;
    }

    .imagem-cabecalho {
        width: 20%;
    }

    .cabecalho-titulo {
        margin-bottom: 1em;
    }
}

@media (max-width: 360px) {
    .cabecalho-titulo {
        font-size: 1em;
        margin-bottom: 1em;
    }

    .lista-item a {
        font-size: 0.9em;
    }
}
