.section-primary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3em 1em;
    border-bottom: 3px solid var(--white);
}

.container-primary-section {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

.titulo-primary {
    font-size: 2em;
    font-weight: 700;
}

.subtitulo-primary {
    font-size: 1.5em;
    margin: 0 3em 0 5.5em;
}

.imagem-primary {
    width: 50%;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .section-primary {
        flex-direction: column-reverse;
    }

    .container-primary-section {
        gap: 10px;
    }

    .imagem-primary {
        width: auto;
        border-radius: 10px;
    }

    .titulo-primary {
        font-size: 1em;
        margin-top: 1em;
    }

    .subtitulo-primary {
        margin: 0;
        font-size: 1em;
    }
}